{{#> layout }}
  {{#*inline "content"}}
    <div class="row mb-2">

        {{> styles}}
        <div class="crear-user">
            <h2>Listado</h2>
            <br/>
            <a href="/user/newUser" class="btn-show">Crear User</a>
        </div>

        {{#if data }}
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nombre y Apellido</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Activo desde</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
                {{#each data}}
                <tr>
                    <td><a href="/user/ver/{{id}}"> {{id}} </a></td>
                    <td>{{name}} - {{lastName}}</td>
                    <td>{{email}}</td>
                    <td>
                        {{#if status}}
                            User
                        {{else}}
                            Admin
                        {{/if}}
                    </td>
                    <td>{{createdAt}}</td>         
                    <td>
                        <a href="/user/{{id}}"> <!-- me manda a la vista para editar-->
                            <button>
                                    <i class= "fas fa-edit"></i>
                            </button>
                        </a>          
                    </td>
                    <td>
                        <form action="/user/delete/{{this.id}}" method="Post">
                            

                            <button>
                                    <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>  
                    </td>    
                </tr>
                    
                {{/each}}
            </table>       
        {{else}}
        
            <p class= "no-hay-datos">No hay datos</p>
     
        {{/if}}
    </div>
  {{/inline}}
{{/layout}}
