{{#> layout }}
  {{#*inline "content"}}
    <div class="row mb-2">

        {{> styles}}
        <div class="crear-user">
            <h2>Listado</h2>
            <br/>
            <a href="/user/newUser" class="btn-show">Crear User</a>
        </div>

        {{#if data }}
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nombre y Apellido</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Activo desde</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
                {{#each data}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}} - {{lastName}}</td>
                    <td>{{email}}</td>
                    <td>{{role}}</td>
                    <td>{{createdAt}}</td>         
                    <td>
                        <a href="/user/{{this.id}}"> <!-- me manda ala vista para editar-->
                            <button>
                                    <i class= "fas fa-edit"></i>
                            </button>
                        </a>          
                    </td>
                    <td>
                         <!-- aun no se como eliminar -->     
                         <form method="POST" action="/user/{{this.id}}">
                            <input type="hidden" name="_method" value="delete">
                            <input type="submit" value="Eliminar"> 
                         </form>
                    </td>    
                </tr>
                    
                {{/each}}
            </table>       
        {{else}}
        
            <p class= "no-hay-datos">No hay datos</p>
     
        {{/if}}
    </div>
  {{/inline}}
{{/layout}}
