{{#> layout }}
  {{#*inline "content"}}
    <div class="row mb-2">

        {{> styles}}
        <div class="crear-user">
            <h2>Listado</h2>
            <br/>
            <a href="/post/newPost" class="btn-show">Crear Post</a>
        </div>

        {{#if data }}
            <table>
                <tr>
                    <th>id</th>
                    <th>slug</th>
                    <th>title</th>
                    <th>excerpt</th>
                    <th>content</th>
                    <th>category</th>
                    <th>tags</th>
                    <th>status</th>
                    <th>Desde</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
                {{#each data}}
                <tr>
                    <td><a href="/post/ver/{{id}}"> {{id}} </a></td>
                    <td>{{slug}}</td>
                    <td>{{title}}</td>
                    <td>{{excerpt}}</td>
                    <td>{{content}}</td>
                    <td>{{category}}</td>
                    <td>{{tags}}</td>
                    <td>{{status}}</td> 
                    <td>{{createdAt}}</td>        
                    <td>
                        <a href="/post/{{id}}"> <!-- me manda ala vista para editar-->
                            <button>
                                    <i class= "fas fa-edit"></i>
                            </button>
                        </a>          
                    </td>
                    <td>
                        <form action="/post/delete/{{this.id}}" method="Post">
                            <button>
                                    <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>    
                </tr>
                    
                {{/each}}
            </table>       
        {{else}}
        
        <p class= "no-hay-datos">No hay datos</p>
        
        {{/if}}
    </div>
  {{/inline}}
{{/layout}}
